/* Log popups */

#popup-div {
    position: fixed;
    bottom: 0;
    right: 0;
    overflow: hidden !important;
}

#popup-div ul {
    list-style-type: none;
}

#popup-div ul li {
    padding: 0.2rem;
}

.popup {
    padding: .5rem 1rem;
    border: 5px solid;
    border-radius: 15px;
    background-color: var(--secondary);
}

.popup h4 {
    padding-left: 2rem;
}

.info {
    border-color: var(--info);
    background-color: #106c7a;
}

.warning {
    border-color: var(--warning);
    background-color: #9c7706;
}

.error {
    border-color: var(--danger);
    background-color: #85222c;
}