#options_div{
	padding: 10px;
	background-color: #f0f0f0;
	text-align: center;
	border-radius: 10px;
}

#table_options_div{
	text-align: center;
}

#table_div{
	height: 250px;
	overflow: auto;
}

#data_table{
	border: 1px solid black;
}

#data_table thead td{
	background-color: aqua;
	border: 2px solid black;
	padding: 5px;
	text-align: center;
}

#data_table tbody{
	background-color: lightgray;
	border: 1px solid black;
}

ul {
	list-style: none;
}